*{
    margin: 0px;
    padding: 0px;
}
/* LOGO+主選單 */
.header{
    width: 100%;
    background-color: #FFFED9;
    position:fixed;
    top:0;
    z-index: 1;
    /* opacity: 10%; */
}
.header a{
    text-decoration: none;
    display: inline-block;
}
.header  nav  a{
    position: relative;
    right : 10%;
    padding-right: 30px;
    padding-left: 40px;
    font-size: 25px;
    font-weight: bold;
}
.header  nav  a:hover{
    background-color: #fff;
}
.header img{
    width: 50px;
    margin-top: 10px;
}   
.header nav{
    text-align: right;
    position: relative;
    right: 10px;
    width: 100%;
}
.header nav a{
    margin-left: 30px;
    color: #222;
}
.logo{
    display: flex;
}
.logo a{
    color: #222;
    font-size: 20px;
    margin: auto;
    margin-left: 20px;
    
}
.logoname{
    width: 100%;
    margin-left: 50px;
    position: relative;
    font-weight: bolder;
} 
.login{
    display:block;
    width: 30%;
    justify-content: flex-end;
}
.login a:nth-child(1){
    padding: 10px;
    margin-right: 50px;
    border-radius: 15px;
    background-color: #fff; 
}
.login img{
    width: 20px;
    height: 20px;
}
.wrap img{
    width: 100%;
    height: 600px;
}
/* /////////////餐點介紹////////// */
.menu{
    width: 1200px;
    display: flex;
    margin: auto;   
    /* flex-wrap: wrap; */
}
.menutitle{
    margin-left: 175px;
    margin-top: 200px;
    padding: 20px 0px;
    color: #999;
}
.menusecondtitle{
    margin-left: 175px;
    margin-top: 30px;
    /* margin-bottom: -30px; */
    padding: 20px 0px;
    color: #999;
}
.burger{
    width: 268px;
    margin: 15px;
    transition: .5s;
}
.burger:hover{
    transform: translateY(-20px);
}
.burger img{
    width: 100%;
    height: 200px;
    border-radius: 10%;
}
.burger h2{
    border-bottom: 1px solid #6666;
    padding-bottom: .3em;
    margin-bottom: .3em;
    font-weight: 1000 ;
    font-size: 24px;
}
.burger h3{
    font-size: 18px;
}
.burgersec{
    width: 268px;
    margin: 15px;
    transition: .5s;
}
.burgersec:hover{
    transform: translateY(-20px);
}
.burgersec img{
    width: 100%;
    height: 200px;
    border-radius: 10%;
}
.burgersec h2{
    border-bottom: 1px solid #6666;
    padding-bottom: .3em;
    margin-bottom: .3em;
    font-weight: 1000 ;
    font-size: 24px;
}
.burgersec h3{
    font-size: 18px;
}
.burgerfour{
    width: 268px;
    margin: 15px;
    transition: .5s;
}
.burgerfour:hover{
    transform: translateY(-20px);
}
.burgerfour img{
    width: 100%;
    height: 200px;
    border-radius: 10%;
}
.burgerfour h2{
    border-bottom: 1px solid #6666;
    padding-bottom: .3em;
    margin-bottom: .3em;
    font-weight: 1000 ;
}
/* /////////////底部///////////// */
.footer{
    width: 97.35%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    padding: 20px;
    /* position: fixed;
    bottom: 0; */
}
.fttxt a{
    width: 300px;
    text-decoration: none;
    color: #222;
}
.fb{
    margin-left: 30px;
}
.fb a{
    text-decoration: none;
}
.fb img{
    width: 30px;
    height: 30px;

}
