*{
    margin: 0px;
    padding: 0px;
}
/* LOGO+主選單 */
.header{
    width: 100%;
    background-color: #FFFED9;
    position:fixed;
    top:0;
    z-index: 1;
}
.header a{
    text-decoration: none;
    display: inline-block;
}
.header  nav  a{
    position: relative;
    right : 10%;
    padding-right: 30px;
    padding-left: 40px;
    font-size: 25px;
    font-weight: bold;
}
.header  nav  a:hover{
    background-color: #fff;
}
.header img{
    width: 50px;
    margin-top: 10px;
}   
.header nav{
    text-align: right;
    position: relative;
    right: 10px;
    width: 100%;
}
.header nav a{
    margin-left: 30px;
    color: #222;
}
.logo{
    display: flex;
}
.logo a{
    color: #222;
    font-size: 20px;
    margin: auto;
    margin-left: 20px;
    
}
.logoname{
    width: 100%;
    margin-left: 50px;
    position: relative;
    font-weight: bolder;
} 
.login{
    display:block;
    width: 30%;
    justify-content: flex-end;
}
.login a:nth-child(1){
    padding: 10px;
    margin-right: 50px;
    border-radius: 15px;
    background-color: #fff; 
}
.login img{
    width: 20px;
    height: 20px;
}
.wrap img{
    width: 100%;
    height: 600px;
}
/* //////////////活動說明////////////// */
.newactivity{
    width: 960px;
    margin: auto;
    padding: 100px 0px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.newactivity li{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    margin: 0 60px -40px;
    outline: 1px solid #f00;
    list-style: none;
    position: relative;
    /* overflow: hidden; */
    transform: rotate(45deg);
}
li img{
    transform: rotate(-45deg);
    position:absolute;
    top:-250px;
    left:-100px;

}
/* li::before{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    outline: 1px solid #0f0;
} */
li:nth-child(n+4){
    left: 160px;
}
li:nth-child(n+7){
    left: 0px;
}
/* //////////////底部說明////////////// */
.footer{
    width: 97.35%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
}
.fttxt a{
    width: 300px;
    text-decoration: none;
    color: #222;
}
.fb{
    margin-left: 30px;
}
.fb a{
    text-decoration: none;
}
.fb img{
    width: 30px;
    height: 30px;

}
